Screen {
    layout: vertical;
    background: #0f172a;
}
#header {
    width: 100%;
    height: 4;
}

#footer {
    height: 1;
    width: 100%;
}

#metrics-row {
    width: 100%;
    height: 13;
    layout: grid;
    grid-size: 3;
    grid-gutter: 1;
    padding: 0 1;
}

#cpu-widget,#memory-widget{
    width: 1fr;
    height: 100%;
    border: solid $primary-darken-2;
    padding: 0 1;
}

.metric-title {
    height: 1;
    width: 100%;
    text-style: bold;
}

.metric-chart {
    width: 100%;
    height: 1fr;
}
#main-content {
    width: 100%;
    height: 1fr;
    layout: grid;
    grid-size: 2 1;
    grid-columns: 3fr 1fr;
    grid-gutter: 1;
    padding: 0 1;
}

#process-table {
    column-span: 11;
    height: 1fr;
}

#right-sidebar {
    column-span: 2;
    height: 100%;
    width: 100%;
    layout: vertical;
}

#system-summary {
    height: 1fr;
}

#disk-widget {
    height: 1fr;
}

#network-widget{
    height: 1fr;
}

